@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Welcome, folks!</h1>
        <hr />
        <p>
            As we have talked yesterday, we are going to have a new year eve party at my house. Please click the link at below, fill &amp; submit the RSVP form. Many many thanks :D
        </p>
        @Html.ActionLink("RSVP Now", "RsvpForm")
    </div>
</body>
</html>
